{% extends "network/layout.html" %}
{% load static %}

{% block head %}
<script src="
https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js
"></script>
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}
{% block body %}
{% csrf_token %}
<h2 id="page-header">All Posts</h2>
<div id="profile-details" class="section">
    <div id="follow-details-container" class="pb-2">
        <span id="follower-count" class="pr-3"></span>
        <span id="following-count" ></span>
    </div>
    <button id="follow-button" class="btn btn-primary">Follow</button>
</div>
{% if user.is_authenticated %}
<div id="new-post" class="section">
    <form id="create-post-form">
        <div class="form-group">
            <label for="create-post-content">New Post</label>
            <textarea class="form-control" id="create-post-content" rows="3"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
{% endif %}
<div id="posts" class="section">

</div>

<nav id="page-navigation" class="section" aria-label="Page navigation">
    <ul class="pagination">
        <li id="previous-page" class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li id="next-page" class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
{% endblock %}