.body {
    margin-left: 30px;
    margin-right: 60px;
}


.post-container {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-author {
    font-weight: bold;
    font-size: larger;
}

.post-timestamp-created {
    font-weight: lighter;
    font-size: smaller;
}

.like-button {
    all: unset;
    cursor: pointer;
}

.liked {
    color: red;
}